<html>

<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/gamestyle.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
  <div id="back"><a href="/"><span></span></a></div>

  <div id="header">
    <div id="split">
     <div id = "small"><div id = "center2"><h1 style="float:left; padding-top:12px; padding-left:15px;">Profile Name: no name</h1></div> </div>
      <div id = "small"><div id = "center2"><h1 style="float:left; padding-top:12px;">Energy: 10/10</h1></div> </div>
      <div id = "small"><div id = "center2"><h1 style="float:left; padding-top:12px; padding-right:15px;">Gold: broke</h1></div> </div>
    </div>
  </div>
  <div id="divider"></div>
  <div id="game">
    <span><span></span></span>
    <div class="wrap">
      <a href="/profile/"><div></div></a>
      <a href="party.html"><div></div></a>
      <a href="trade.html"><div></div></a>
      <a href="rolls.html"><div></div></a>
      <a href="battle/"><div></div></a>
    </div>
  </div>
  <div id="divider"></div>


</body>

</html>