<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet.css" />
</head>

<body>
    <div id="content">
        <h1 align="center">Welcome to Hell's Colosseum</h1>
        <br/>

        <form action="login" method="POST">
        <table align="center" cellpadding="6">
            <tr>
                <th colspan="2">LOGIN</th>
            </tr>
            <tr>
                <th>Username</th>
                <td>
                    <input type="text" placeholder="Enter Username" name="username" required>
                </td>
            </tr>

            <tr>
                <th>Password</th>
                <td><input type="password" placeholder="Enter Password" name="password" required></td>
            </tr>
            <tr>
                <th colspan="2"><button type="submit" id="login">Login</button></th>
            </tr>
        </table>
        </form>

        <br></br>

        <form action="register" method="POST">
            <table align="center" cellpadding="6">
                <tr><th colspan="2">REGISTER</th></tr>
                <tr>
                    <th>Username</th>
                    <td><input type="text" placeholder="Enter Username" name="username" required></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="password" placeholder="Password" name="password" required></td>
                </tr>
                <tr>
                    <th>Repeat password</th>
                    <td><input type="password" placeholder="Confirm Password" name="passwordconfirm" required></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button type="submit" id="register">Register</button>
                    </th>
                </tr>
            </table>
        </form>
        <h2 align="center">Come here and choose your character, trade with friends, and battle your way through the Hell's Collosseum.<br/><br/>
        Learn more <a href="about.html">about the game</a>.</h2>
    </div>
</body>

</html>