<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet.css" />
</head>

<body>
    <div id="backgroundindex">
        <div id="header">
            <div id="navbar">
                <ul>
                    <li class="nav"><a href="/">Home</a></li>
                    <li class="nav"><a href="game.html">Game</a></li>
                    <li class="nav"><a href="about.html">About</a></li>
                    <li class="nav"><a href="profile.html">Profile</a></li>
                </ul>
            </div>
        </div>
        <div id="divider"></div>
        <div id="content">
            <div id="split">
                <div id="box">
                    <div id="center">
                        <h1>Welcome to Hell colosseum</h1>
                    </div>
                    <br></br>
                    <form action="login" method="POST">
                    <div class="container">
                        <div id="stack">
                            <div id="center"><h2>LOGIN</h2></div>
                        </div>
                        <div id="stack">
                            <label for="username"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="username" required>
                        </div>
                        <div id="stack">
                            <label for="password"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="password" required>
                        </div>
                        <div id="stack">
                            <button type="submit" id="login">Login</button>
                        </div>
                    </div>
                    </form>
                    <br></br> <br></br> <br></br>
                    <form action="register" method="POST">
                        <div class="container">
                            <div id="stack">
                                <div id="center"><h2>REGISTER</h2></div>
                            </div>
                            <div id="stack">
                                <label for="username"><b>Username</b></label>
                                <input type="text" placeholder="Enter Username" name="username" required>
                            </div>
                            <div id="stack">
                                <label for="password"><b>Password</b></label>
                                <input type="password" placeholder="Password" name="password" required>
                            </div>
                            <div id="stack">
                                <label for="password"><b>Password</b></label>
                                <input type="password" placeholder="Confirm Password" name="passwordconfirm" required>
                            </div>
                            <div id="stack">
                                <button type="submit" id="register">Register</button>
                            </div>
                        </div>
                        </form>

                    
                </div>
                <div id="box">
                    <div id="center">
                        <h2>Come here and choose your character, trade with friends, and battle your way through the
                            Hell
                            colosseum.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divider"></div>
</body>

</html>