<html>
<head>
    <meta charset="UTF-8">
    <title>Victory!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet.css" />
</head>
<body>

    <div id="header">
        <div id="navbar">
            <ul>
                <li class="nav"><a href="/">Return to main menu.</a></li>
            </ul>
        </div>
    </div>
    <div id="divider"></div>
    <div id="content">
        <div id="center"><h1>Victory!</h1></div>
        <div id="center"><h3><%=message%></h3></div>
    </div>
</div>
<div id="divider"></div>
</body>
</html>